body{
	background-size: contain;
}
header{
	font-family: 'Courgette', monospace;
	margin-bottom:50px;
	text-align: center;
	width:100%;
	height:50px;
	font-size:30px;
}
#menu ul{
	list-style:none;
	border-top:3px solid;
	border-bottom:3px solid;
	padding: 10px 10px;
	background-color: white;
	opacity: 0.9

}
#menu ul li{
	font-family: 'Noto Sans KR', cursive;
	font-size: 20px;
	display:inline; 
	padding: 0 10px;
	letter-spacing:5px;
}
.a{
	text-indent: 2em;
}
#nav{
	margin-top: 40px;
	font-family: 'Noto Sans KR', cursive;
	font-size: 20px;
	margin-right: 50px;
	margin-left: 10px;
	padding-top: 40px;
	padding-left: 30px;
	float: left;
	width: 220px;
	height: 1500px;
	background-color: gray;
	opacity: 0.8;
}	
a{	
	text-decoration: none;
	color: black;
}
#content{
	padding-top: 35px;
	font-family: 'Nanum Gothic', sans-serif;
	padding-left: 20px;
	border-left:20px;
}
#tedori{
	background-color: white;
	margin-left: 270px;
	padding: 10px 50px 30px 50px;	
	border-style: solid; 
	opacity: 0.9;
	height: 450px;
	border-width: 2px;
}
#tedori2{
	background-color: white;
	margin-left: 270px;
	padding: 10px 50px 30px 50px;	
	border-style: solid; 
	opacity: 0.9;
	height: 350px;
	border-width: 2px;
}